
h1 {
  text-align: center;
  font-family: 'OrbitRacerOrbitRacer', Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 86px;
  font-weight: normal;
  font-style: normal;  
  color: whitesmoke;
}

